body{
	font: 1em Helvetica, sans-serif; /*can add line height later after font size*/
	margin:0px;
	padding:0px;
	background-color:#47B5FF;
	height:100%;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

#mainwrap{
	margin: 0px;
	min-height:100px;
	width:100%;
	height:100vh;
	overflow:visible;
}

#banner{
	padding:4px 0px;
	min-height:80px;
}
#banner, footer{
	height:auto;
	width:100%;
	margin:0px;
}

#banner .logo.img{
	width: 70%;
	max-width: 360px;
	margin: 5px auto;
	vertical-align: middle;
}

.choicesec{
	width:100%;
	height:auto;
	min-height:10px;
	margin:0px;
	background-color:#90d;
	border-color:black;
	border-bottom-style: solid;
	text-align:center;
	font-size:2em;
	font-weight:bold;
}
.choicesec .headl{
	padding: 15px 0px;
	margin:0px;
}
.choicesec .cont{
	min-height: 100px;
	display:none;
	font-size:0.6em;
	font-weight:normal;
	padding: 15px 0px; 
	margin:0px;                                                                                                                                                                                                                                                                     
}
.choicesec .cont .bubble{
	width:60%;
	min-height: 55px;
	margin: 5px 0px;
	padding: 5px;
	background-color: #fff;
	font-size: 0.8em;
	text-align: left;
	vertical-align: middle;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 10px;
	margin-bottom: 6px;
}
.speech.img{
	display:inline-block;
	width:20%;
	max-width:90px;
}
.choicesec .cont .comment .bubble{
	display:inline-block;
	vertical-align: top;
	text-align: left;
}
input{
	font-size: 16px;
}
input.field{
	vertical-align: middle;
	width: 50px;
	min-height: 29px;
	border: 3px dotted #39f;
	border-radius: 10px;
	padding: 0px 10px 5px 10px;
	margin-right: 5px;
	background-color: #fff;
}
button{
	min-width: 60px;
	min-height:40px;
	border: 2px solid #989898;
	border-radius: 10px;
	font-size:0.73em;
	padding:8px;
	background-color: #E7E7E7;

}
.refresh{
	display:none;
}
	
.choicesec .add.headl{
	background-color: #B8E65C;
}
.choicesec .add.cont{
	background-color: #EBFFC2;
}
.choicesec .sub.headl{
	background-color: #f99;
}
.choicesec .sub.cont{
	background-color: #FFE0E0;
}
.choicesec .mult.headl{
	background-color: #00E6E6;
}
.choicesec .mult.cont{
	background-color: #CCFAFA;
}
.choicesec .div.headl{
	background-color: #FF85D6;
}
.choicesec .div.cont{
	background-color: #FFE0F0;
}
.choicesec .prime.headl{
	background-color: #FFCC66;
}
.choicesec .prime.cont{
	background-color: #FFEBC2;
}
.choicesec .headl{
	color:#000; /*for IE8-*/
	color: rgba(0, 0, 13, 0.9);
}

.bulb{
	width:10%;
	max-width:15px;
}
#closeX{
	margin-top: 0px;
	display:block;
	padding: 0px;
	text-align: right;
	color:red;
	font-size: 2em;
	opacity:1;
}
#help{
	display:none;
	width: 90%;
	max-height: 750px;
	box-sizing:border-box;
	position: fixed;
	top: 30px;
	left: 5%;
	min-height:300px;
	padding: 10px 20px;
	background-color:#fff;
	border-radius: 10px;
	opacity:0.95;
}

footer{
	padding:20px 0px 5px 0px;
	min-height:30px;
}

@media screen and (min-width: 600px){
	#mainwrap{
		width: 90%;
		margin: auto;
		border-radius: 10px;
		text-align: center;
	}

	#centerx{
		width: auto;
		margin:auto;
		overflow:hidden;
	}
	.choicesec,#help{
		max-width: 750px;
	}
	.choicesec{
		margin: 0px auto;
		border-style: solid;
		margin-bottom: -3px; /*hack to collapse borders*/
		border-radius: 10px;
		overflow:hidden;		
		box-sizing: border-box;
	}
	.choicesec.last{
		margin-bottom:0px;
	}

	.choicesec .headl{
		padding: 15px 0px;
		margin:0px;
	}

}
@media screen and (min-width: 768px){
	#mainwrap,#help{
		width: 80%;
	}
	#help{
		left:10%;
	}
}
@media screen and (min-width: 950px){
	#help{
		/*set neg. margins to half the div's width 750*/
		left:50%;
		top:30%;
		margin-left: -375px;
	}
}
@media screen and (min-width: 1024px){
	/*insert bg picture into mainwrap*/
	#mainwrap{ 
	    background-image: url('bgfull.png');
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: 15% 70%; 
	}
}